@model IEnumerable<CrudWeb.Models.ProductModel>

@{
    var products = ViewBag.Product;
    ViewData["Title"] = "Produtos";
}
<div class="row">
    <div class="col-12">
       <a type="button" asp-action="Criar" asp-controller="Product" class="btn btn-dark col-12">Novo produto</a>
    </div >
</div>

<table class="table table-hover table-sm table-bordered mt-3">
  <thead >
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  @foreach(var product in products){
      <tbody>
        <tr>
          <td>@product.Id</td>
          <td>@product.Name</td>
          <td class="text-center">@product.Price</td>
          <td>
              <a href = "Product/Editar/@product.Id"><i class="bi-pencil" alt="Editar" style="padding-right:10px;"></i></a>
              <a href = "Product/Excluir/@product.Id"><i class="bi-x-circle" alt="DeleteProduct"></i></a>
          </td>
        </tr>
      </tbody>
  }
</table>